<% layout('layouts/boilerplate') %> 

<div class="row">
    <h1 class="text-center">New Eatery</h1>
    <div class="col-6 offset-3">
        <form action="/eateries" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="eatery[title]" required>
            </div>
            <div class="mb-4">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="eatery[location]" required>
            </div>
            <div class="mb-3">
                <input type="file" name="image" id="image" multiple>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Eatery Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">Rs</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="eatery[price]" required>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="eatery[description]" required></textarea>
            </div>
            <div class="mb-3 text-center">
                <button class="btn btn-success">Create</button>
            </div>
            <div class="text-center">
                <a href="/eateries">Cancel</a>
            </div>
        </form>
    </div>
</div>


